useDynLib(Rnmr1D)
exportPattern("^Spec1r[[:alpha:]]+")
export(detectCores)
export(setLogFile)
export(generateMetadata)
export(checkMacroCmdFile)
export(RWrapperCMD1D)
export(doProcCmd)
export(doProcessing)
export(getBucketsTable)
export(getBucketsDataset)
export(getSnrDataset)
export(getSpectraData)
export(getClusters)
export(getMergedDataset)
export(plotSpecMat)
export(plotCriterion)
export(plotClusters)
export(plotScores)
export(plotLoadings)
importFrom(Rcpp, evalCpp)
import(Matrix)
import(methods)
import(MASS)
import(signal)
import(ptw)
import(speaq)
import(base64enc)
import(XML)
import(foreach)
import(doParallel)
import(igraph)
#export("PPM_MIN", "PPM_MAX", "PPM_MIN_13C", "PPM_MAX_13C", "sep", "LOGFILE")

