useDynLib(Rnmr1D)
exportPattern("^Spec1r[[:alpha:]]+")
exportPattern("^set[[:alpha:]]+")
exportPattern("^do[[:alpha:]]+")
exportPattern("^ggplot[[:alpha:]]+")
exportPattern("^filter[[:alpha:]]+")
export(detectCores)
export(generateMetadata)
export(checkMacroCmdFile)
export(RWrapperCMD1D)
export(getBucketsTable)
export(getBucketsDataset)
export(getSnrDataset)
export(getSpectraData)
export(getClusters)
export(getMergedDataset)
export(plotSpecMat)
export(plotCriterion)
export(plotClusters)
export(plotScores)
export(plotLoadings)
export(Lorentz)
export(optimOneLorentz)
export(MyFuncTest)
export(MyFuncTest2)
importFrom(Rcpp, evalCpp)
import(Matrix)
import(methods)
import(MASS)
import(signal)
import(ptw)
import(speaq)
import(base64enc)
import(XML)
import(parallel)
import(foreach)
import(doParallel)
import(igraph)
import(minqa)

